<!-- <h1 class="p-2">{{cdetail.heading}}</h1> -->
<!-- 
<div class="container">

<div class="card mb-3" style="background-color: #06BBCC;">
    <img src="{{cdetail.img}}" class="card-img-top " style="height: 200px; width: 200px;" alt="...">
    <div class="card-body" style="background-color: aliceblue;">
      <h5 class="card-title">{{cdetail.Cheading}}</h5>
      <p class="card-text">{{cdetail.description}}</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div> -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s"  *ngFor="let c of cdetail">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <!-- <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i> -->
            <img src="{{c.img}}" width="50" height="50"><br>
            <h5 class="mb-3">{{c.heading}}</h5>
            <p>{{c.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>